.progress-gradient {
  background: linear-gradient(to right, #747e80, #d12836);
}

.top-glow {
  box-shadow: 0 -26px 20px rgba(355, 68, 49, 0.3);
}

/* Define the keyframes for the blinking animation */
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Apply the animation to the dot class */
.dot {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  animation: blink 1s infinite;
}

.circle-outer {
  background: linear-gradient(to bottom, #575def, #202731);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 90vw;
  max-width: 360px;
  max-height: 360px;
}

.circle-inner {
  background: radial-gradient(circle, #4960b2, #282e3e);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.metal-button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #f1f1f1;
  padding: 15px 30px;
  border: 2px solid #4e4e4e;
  background: linear-gradient(145deg, #6f6f6f, #3c3c3c);
  border-radius: 10px;
  box-shadow: 
    inset 2px 2px 4px rgba(0, 0, 0, 0.6), 
    inset -2px -2px 4px rgba(255, 255, 255, 0.2),
    4px 4px 10px rgba(0, 0, 0, 0.7),
    -4px -4px 10px rgba(255, 255, 255, 0.1);
  text-shadow: 
    1px 1px 2px rgba(0, 0, 0, 0.7);
  transition: transform 0.2s, box-shadow 0.2s;
}

/* Metallic Button Hover Effect */
.metal-button:hover {
  transform: scale(1.05);
  box-shadow: 
    inset 4px 4px 8px rgba(0, 0, 0, 0.8), 
    inset -4px -4px 8px rgba(255, 255, 255, 0.3),
    6px 6px 15px rgba(0, 0, 0, 0.9),
    -6px -6px 15px rgba(255, 255, 255, 0.1);
}

/* Metallic Button Active Effect */
.metal-button:active {
  transform: scale(0.98);
  box-shadow: 
    inset 6px 6px 10px rgba(0, 0, 0, 0.9), 
    inset -6px -6px 10px rgba(255, 255, 255, 0.4);
}
@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
